@charset "UTF-8";

body {
	margin: 0;
	background-color: #bdc9ff;
}

header {
	height: 100px;
	background: blue;
	color: white;
	text-align: center;
}

header>h2 {
	line-height: 100px;
	margin: 0;
}

nav {
	height: 50px;
	margin: 0;
	background-color: skyblue;
}

nav>ul {
	padding: 0;
	margin: 0;
	line-height: 50px;
}

nav>ul li {
	float: left;
	list-style: none;
	width: 200px;
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

section {
	width: 800px;
	height: 800px;
	margin: 0 auto;
}

section>h2 {
	line-height: 50px;
	text-align: center;
}

section table {
	width: 800px;
	border:1px solid black;
}

th {
	text-align: center;
	border: 1px solid black;
}
td{
	text-align:center;
	border: 1px solid black;
	
}
footer{
	background-color: blue;
	height: 50px;
}
footer h5{
	color: white;
	}